<div fxLayout="column" fxFill>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxLayout="row" fxFlex="80" fxLayoutAlign="start center">
          <div>
            <span>Kimi Monitoring</span>
          </div>
        </div>
        <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center">
          <div>
            <button mat-icon-button>
              <mat-icon class="example-icon">settings</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxLayout="column" style="height: 100%" fxLayoutAlign="center center">
    <div>
      <button mat-flat-button color="accent" (click)="tryFacebookLogin()">Login with Facebook</button>
    </div>
    <div>
      <button mat-flat-button color="warn" (click)="tryGoogleLogin()">Login with Google</button>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="tryTwitterLogin()">Login with Twitter</button>
    </div>
  </div>
</div>





