<div>
  COMPONENT 1
</div>
<div fxLayout="row wrap" fxLayoutGap="10px grid">
  <div>
    <mat-card class="example-card" [style.backgroundColor]="'lightgrey'" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Moyenne d'âge</mat-card-title>
        <mat-card-subtitle>En année</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
        </mat-progress-spinner>
        <div>
          {{this.value}}
        </div>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card" [style.backgroundColor]="'lightgrey'" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Genre</mat-card-title>
        <mat-card-subtitle>Homme/Femme</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="nb_homme"
          [bufferValue]="nb_femme+nb_homme">
        </mat-progress-bar>
        <div>
          {{this.nb_homme}} % Homme(s)
        </div>
        <div>
          {{this.nb_femme}} % Femme(s)
        </div>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <button mat-button (click)="refresh()"
            matTooltip="Refresh la moyenne d'âge des utilisateurs">REFRESH</button>
  </div>
</div>
