<div class="app-user-panel" style="height: 100vh;">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <div fxLayout="row" fxLayoutAlign="space-between start" >
      <div class="card" style="width: 20rem;">
        <!--<img class="card-img-top image" [src]="user.image" alt="Card image cap">-->
        <div class="svg-wrapper">
          <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape" height="60" width="320" />
          </svg>
          <div class="text">Kimi Monitoring</div>
        </div>
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">Kimi Monitoring </p>
        </div>
      </div>
      <div><button mat-raised-button color="accent" (click)="logout()">Logout</button></div>
    </div>



  </div>

</div>
