<div class="container">

  <div class="row">
    <div class="col-md-11">
      <div class="card" style="width: 20rem;">
        <!--<img class="card-img-top image" [src]="user.image" alt="Card image cap">-->
        <div class="svg-wrapper">
          <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape" height="60" width="320" />
          </svg>
          <div class="text">Kimi Monitoring</div>
        </div>
        <div *ngIf='user.provider != "password"'class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text">Kimi Monitoring </p>
        </div>
      </div>
    </div>


    <div class="col-md-1">
      <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
    <div class="col-md-9 col-md-offset-1">
      <app-created-posts></app-created-posts>
    </div>
    <div style="height: 10px" class="col-md-12">

    </div>
    <div class="col-md-9 col-md-offset-1">
      <app-created-posts></app-created-posts>
    </div>
  </div>
</div>
